.chart-box {
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-right: 50px;
  margin: 20px 0px;
  background-color: #D7D5D5;

}

.elevation-header {
  border: 1px solid red;
  height: 30px;
  width: 300px;
  margin: 30px auto;
  margin-bottom: -60px;
  text-align: center;
   h2 {
     margin: 0px;
   }
}
