.point-control-container{
	display: flex;
	align-items: center;
	flex-direction: column;
	align-content: center;
	width: 500px;
	height: 550px;
	background: #F4F2F2;
	border: 1px solid black;
	border-radius: 5px;
  margin: 10px 5px;
	margin-bottom: 5px;
  padding: 5px;
	padding-top: 0px;
	font-size: 10px;
	.set-interval-box {
		margin-top: 0px;
		font-size: 14px;
	}
	div {
		margin: 10px auto;
	}
	h3 {
		text-align: center;
		font-size: 18px;
		background-color: #EA643C;
		color: white;
		width: 496px;
		margin: 0px;
		margin-left: -5px;
		margin-right: -5px;
		padding: 15px;
		}
	.interval-header {
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
	}

	.control-box {
		display: flex;
		flex-direction: column;
		// flex-wrap: wrap;
		width: 100%;
		height: 100%;
		align-content: flex-start;
		align-items: flex-start;
		justify-content: flex-start;

		.static-controls {
			font-size: 12px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 90px;
			div {
				display: flex;
				flex-direction: column;
				align-content: center;
				align-items: center;
				justify-content: center;
				width: 150px;
				margin: 5px 10px;

				span {
					width: 200px;
					align-self: center;
					font-size: 12px;
				}
			}
			.insert {
				border: 1px solid red;
			}
		}

	}

	#control-insert-mark {
		display: flex;
		flex-direction: row;
		width: 100%;
		font-size: 12px;
		height: 250px;
		.mark-input-container {
			margin-left: 10px;
			border: 2px solid grey;
			background-color: #D7D5D5;
			padding: 5px;
			width: 100%;
		}
	}
}

.insert-buttons {
  border: 1px solid grey;
  background-color: #D7D5D5;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
	justify-content: center;
	height: 100px;
	padding-left: 20px;

  span {
    width: 350px;
    margin: 5px 5px;
    font-family: 'Coda', cursive;

  }
  input {
    margin: 5px;
    height: 15px;
    width: 50px;
  }
}

#lat-lng-mark {
	input {
		width: 60px;
		height: 15px;
	}
}

.interval-button {
	background-color: #748491;
	color: white;
	border-style: none;
	border-radius: 5px;
	height: 35px;
	width: 50px;
}

.point-control-input {
	height: 35px;
	padding: 3px;
	width: 60px;
	margin: 0px 5px;
}

.control-save-delete {
	height: 25px;
	width: 200px;
	font-size: 12px;
	margin: 0px 5px;
}

// HIKE STUFF

.hike-list{
	max-height: 200px;
	overflow-y: scroll;
}

div .choose-hike-button-container{
	margin: 0px;
	padding: 0px;
}
.choose-hike-button{
	font-family: 'Coda', cursive;
	width: 300px;
	height: 30px;
	margin: 0px;
	display: flex;
	align-items: center;
	justify-content: center;

	.hike-title{
		display: inline-block;
		margin: 0px;
		flex-grow: 2;
	}

	.color-box{
		margin: 0px;
		display: inline-block;
		height: 20px;
		width: 20px;
		align-self: left;
	}
}

.save-delete-container{
	display: flex;
	flex-direction: row;
}

#marker-distance {
	width: 100%;
}
