.hike-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.hike-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 150px;
}

.hike-title-description {
  display: flex;
  flex-direction: column;
}

.hike-dates {
  display: flex;
  flex-direction: column;
}

.hike-input {
  border-radius: 5px;
  border-style: none;
  padding: 3px;
  margin: 5px;
}

.hike-description {
  border-radius: 5px;
  border-style: none;
  padding: 3px;
}

.hike-button-repeat {
  margin: 3px auto;
}
