.hike-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  width: 100%;
}

.hike-box {

  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid grey;
  background-color: #D7D5D5;
  padding: 5px;

  div{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 0px;
    margin-bottom: 5px;
    justify-content: space-between;
  }

}

// .hike-dates {
//   width: 95%;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   input {
//     width: 45%;
//   }
// }

.hike-input {
  border-radius: 5px;
  border-style: none;
  padding: 3px;
  margin: 5px;
}

.hike-description {
  border-radius: 5px;
  border-style: none;
  padding: 3px;
}

.hike-date{
  padding: 1px;
  width: 125px;
}

.hike-button-repeat {
  margin: 3px auto;
}
