#welcome-back {

}

.home-info-diagram {
  height: 500px;
  width: 100%;
  margin: 30px auto;
  padding: 20px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D7D5D5;
  .diagram-box {
    height: 400px;
    width: 400px;
    margin: 10px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    background-color: #F4F2F2;
    .home-header {
      font-size: 30px;
      border-bottom: 2px solid #E86443;
      color: #124E91;
    }
    .home-description {
      font-size: 14px;
      margin-right: 10px;
      list-style: disc;
      margin: 20px 25px;
      li {
        margin: 5px auto;
      }
      a {
        text-decoration: none;
        font-size: 16px;
        color: #E86443;
      }
    }

  }

  .home-arrow {
    height: 50px;
    width: 50px;
  }
}
