

@import 'root';
@import 'home';
@import 'maps';
@import 'charts';
@import 'trailNew';
@import 'trailUpdate';
@import 'register';
@import 'login';
@import 'mark';
@import 'controls';
@import 'userHome';
@import 'profile';
@import 'modal';
@import 'hike';

@import "bulma";

textarea {
	resize:none;
}

html {
	background-color: #748491;
}
* {
	box-sizing: border-box;
}

h1 {
	font-family: 'Nunito', sans-serif;
	color: #D7D5D5;
	font-size: 30px;
	text-align: center;
	margin: 15px;
	margin-bottom: 50px;
}

h2 {
	font-family: 'Nunito', sans-serif;
}

h3 {
	color: #CD5C5C ;
	font-family: 'Nunito', sans-serif;
	margin: 15px;
}

.container {
  min-width: 100%;
  height: 500px;
	margin-right: 12px;
}

.root-scope {
	min-width: 100%;
}

// IGNORE ME!


.trail-info-container {
	border-radius: 70px 0px 0px 70px;
	box-shadow: 10px 5px 5px black;
  border: 2px solid black;
  background-color: #D7D5D5;
  padding: 0px;
  width: 85%;
  min-width: 1000px;
  height: 162px;
  display: flex;
  margin: 10px auto;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  margin-bottom: 30px;

  .trail-title{
  	color: #0B4C93;
  	font-size: 20pt;
  	padding: 5px;
  }
  .trail-description{
  	padding: 5px;
  	font-size: 12pt;
  	color: black;


  }

  .trail-info-input {
    display: block;
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    width: 210px;
    margin: 5px 0px;
  }
}

// #trail-info-map{
//   min-width: 1200px;
// }

.static-info {
  color: #EA643C;
}

.side-box{
	display: flex;
	flex-direction: row;
	height: 100%;
	align-items: center;
	width: 49%;
}

#left-side{
	justify-content: flex-start;
}
#right-side{
	justify-content: flex-end;
}

.title-description{
	padding: 0px;
	padding-left: 20px;
	height: 80%;
      display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.trail-description-input{
  width: 100%;
  height: 75%;
      border-style: none;
    border-radius: 5px;
    padding: 5px;
    margin: 8px 0px;
}

.description-input-box{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 250px;
  height: 80%;
  align-items: flex-start;
}
.trail-image{
border: 1px solid grey;
border-radius: 50px 0px 0px 50px;
  width: 160px;
  height: 120px;
  margin-left: 20px;
  background-size: 160px 120px;
  overflow:hidden;
  background-image:url('http://previews.123rf.com/images/alex_star/alex_star0812/alex_star081200333/4005652-Compass-on-old-map-Stock-Photo.jpg')
}

.static-info-container {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px;
  padding-left: 15px;
  width: 300px;
  height: 125px;
  background-color: #F4F2F2;
  div {
    margin: 2px 0px;
  }
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  justify-content: space-around;
}

.blaze-mark-hike-buttons{
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0px;
 .BMH-link {
    height: 100%;
    margin: -2px;
    width: 100px;
    border: 1px solid black;

	  color: white;
	  font-size: 16px;
	  padding: 5px;
	  font-family: 'Nunito', sans-serif;
	  }

	.BMH-link:focus {
    	outline: none;
	}


 }


.greyButt{
	background: grey;
}

.orangeButt{
	background: #EA643C;
}
.orangeButt:hover {
	background: #EB785B;
}

.bold-header {
	border: 1px solid black;
	border-radius: 75px;
	padding: 20px 40px;
	width: 300px;
	color: white;
	background-color: #124E91;
	-webkit-box-shadow: 2px 6px 50px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 6px 50px -12px rgba(0,0,0,0.75);
box-shadow: 2px 6px 50px -12px rgba(0,0,0,0.75);

}

.clicked{

   box-shadow: inset 2px 0px 10px 0px rgba(0,0,0,1);
   z-index: 0;
}

.clicked:hover{
	background: #758490;
}

.c-mark{
  background: #124E91;
}

.c-hike{
  background: #48BE3B;
}

.c-blaze{
  background: #F55244;
}

.unclicked-top{
  box-shadow: 1px 2px 10px -2px rgba(0,0,0,1);
  z-index: 1;
}

.unclicked-bottom{
  box-shadow: 1px -2px 10px -2px rgba(0,0,0,1);
  z-index: 1;
}
