

@import 'root';
@import 'home';
@import 'maps';
@import 'charts';
@import 'trailNew';
@import 'trailUpdate';
@import 'register';
@import 'login';
@import 'topTrails';
@import 'mark';
@import 'controls';
@import 'userHome';
@import 'profile';


@import "bulma";


html {
	background-color: #748491;
}
* {
	box-sizing: border-box;
}

h1 {
	font-family: 'Nunito', sans-serif;
	color: lightgrey;
}

h2 {
	font-family: 'Nunito', sans-serif;
}

h3 {
	color: #CD5C5C ;
	font-family: 'Nunito', sans-serif;
	margin-bottom: 15px;
}

.container {
  max-width: 100%;
  height: 500px;
	margin-right: 12px;
}


.modal-content{
	height: 800px;
	width: 800px;
	background: white;
}
// IGNORE ME!
