@import 'root';
@import 'maps';
@import 'charts';
@import 'trailNew';
@import 'trailUpdate';
@import 'register';
@import 'login';
@import 'topTrails';

html {
	background-color: #748491;
}
* {
	box-sizing: border-box;
}

h1 {
	font-family: 'Nunito', sans-serif;
	color: lightgrey;
}

h2 {
	font-family: 'Nunito', sans-serif;
}

h3 {
	color: #CD5C5C ;
	font-family: 'Nunito', sans-serif;
	margin-bottom: 15px;
}

.container {
  padding: 20px;
  width: 1240px;
  height: 500px;
}

.map {
	height: 100%;
	width: 100%;
}

.chart-box {
	height: 260px;
}

// IGNORE ME!
.point-control-container{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 500px;
	height: 300px;
	background: white;
	border: 4px solid black;
	margin-top: 20px;
}
