

.map {
	height: 100%;
	width: 100%;
}
// Add Trail template
#blazeNewMap {
  border: 1px solid #CCCCC3;
}

// Update Trail template
#blazeEditMap {
  border: 1px solid #CCCCC3;
}

// Mark Trail Template
#markMap {
  border: 1px solid #CCCCC3
}

.map-controls-container {
  border-radius: 20px 20px 0px 0px;
  padding: 10px;
  border: 2px solid  #1D3042;
  border-bottom: none;
  margin-bottom: none;
  display: flex;
  background-color: #D7D5D5;
	width: 100%;
}

.trail-container {
	min-width: 100%;
}

.map-container {
  border: 1px solid black;
  border-radius: 5px;
  height: 550px;
  width: 70%;
  min-width: 650px;
  margin: 10px 5px;
  margin-bottom: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  background-color: #F4F2F2;
}

.controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }
