
.point-control-container{
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	width: 500px;
	height: 250px;
	background: #F4F2F2;
	border: 2px solid black;
  margin: 10px;
  padding: 5px;
	font-size: 10px;
	div {
		margin: 10px auto;
	}
}

.lat-lng {
  // display: flex;
	margin: 2px 0px;
}

#place-lat-lng-button {
	background-color: #EA643C;
}

.title-description {
	padding: 5px;
	div {
		margin: 3px 0px;
	}
}

.point-control-input {
	height: 10px;
	width: 30px;
	border-radius: 10px;
	border-style: none;
}

.type-container {
	border: 2px solid grey;
	background-color: #D7D5D5;
	margin: 2px auto;
	padding: 5px;
	display: flex;
	flex-direction: column;
	.type-row {
		display: flex;
		margin: 5px auto;
		input {
			margin: 0px 5px;
		}
	}
}

.title-container {
	text-align: center;
	label {
		display: block;
	}
	input {
		border-radius: 5px;
		border-style: none;

	}
}

.description-container {
	text-align: center;

	label {
		display: block;
	}
	textarea {
		border-radius: 5px;
		border-style: none;

	}
}

.img-url-container {
	text-align: center;

	label {
		display: block;
	}
	input {
		border-radius: 5px;
		border-style: none;
	}
}

.distance-input-container {
	width: 100px;
	margin: 0px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	input {
		width: 50px;
		border-style: none;
		border-radius: 10px;
	}
	#place-distance-button {
		width: 120px;
		background-color: #EA643C;
	}
}

.point-control-update-delete {
	display: flex;
	flex-direction: column;
}
