.profile-head {
  border: 1px solid black;
  background-color: #D7D5D5;
  margin: 25px 0px;
  width: 200px;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0px;
  float: left;
  padding-top: 15px;
  border-radius: 5px;
  background-color: #F4F2F2;
  #profile-pic {
    margin: 10px 5px;
    padding: 10px;
    img {
      padding: 3px;
      border: 1px solid black;
      background-color: white;
      border-radius: 100px;
    }
  }
}


.tabs {
  border: 1px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
  margin: 20px 0px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  div {
    border: 1px solid black;
    background-color: #D7D5D5;
    border-left: none;
    border-right: none;
  }
  div:hover {
    background-color: #C8C7C7;
    border-right: 0px;
    border-left: 0px;

  }
}
.users-container {
  // border: 1px solid black;
  // background-color: #F4F2F2;
  // background-color: #F4F2F2;
  min-height: 100px;
  width: 75%;
  padding: 15px;
  margin: 5px;
  display: inline-block;
}

.about-container {
  border: 1px solid #1D3042;
  border-radius: 5px;
  background-color: #D7D5D5;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 5px;
  width: 100%;
  .about-header {
    font-size: 32px;
    width: 100%;
    text-align: center;
    margin: 10px 0px;
  }
}

.about-body {
  width: 35%;
  margin: 10px 20px;
  div {
    margin: 10px 5px;
  }
}

.user-profile-main-header {
  text-align: center;
}
.my-profile {
  font-size: 24px;
}

.user-profile-input {
  width: 250px;
  border-style: none;
  border-radius: 5px;
  padding: 3px;
}

.update-user {
  color: #758490;
}

.avatar {
  max-width: 200px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space:nowrap;
  display: inline-block;
  position: relative;

}

#about-avatar {
  img {
  margin: 10px auto;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  }

}

.change-button {
  display: inline;
  position: absolute;
}

.update-profile-button {
  display: block;
}
