.banner {
  width: 100%;
}
#title {
  text-decoration: none;
  color: black;
}

.nav-links {
  margin-top: -5px;
  margin-bottom: 5px;
  background-color: #0B4C93;
  height: 45px;
  padding: 7px 30px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  span {

  }
}

.site-nav-link {
  text-decoration: none;
  color: white;
  font-family: 'Coda', cursive;
  font-size: 16px;

}

.user-nav {
  float: right;
  span {
    margin: 0px 5px;
  }
}

.site-nav {
  display: inline-block;
  margin-top: 5px;
  span {
    min-height: 30px;
    margin: 0px 5px;
    color: white;
  }
}

.logout-button {
  background-color: #EA643C;
  color: white;
  border-style: none;
  padding: 5px;
  font-family: 'Nunito', sans-serif;
  border-radius: 10px;
}

#current-user {
  color: #D7D5D5;
}

#current-user:hover {
  color: #9FA7AF;
}

.logged-in {
  color: #758490;
}
