.banner {
  width: 100%;
}
#title {
  text-decoration: none;
  color: black;
}

.nav-links {
  margin-top: 5px;
  margin-bottom: 15px;
  span {

  }
}

.site-nav-link {
  text-decoration: none;
  color: black;
  font-family: 'Coda', cursive;
}

.user-nav {
  float: right;
  span {
    margin: 0px 5px;
  }
}

.site-nav {
  span {
    margin: 0px 5px;
  }
}

.logout-button {
  background-color: #EA643C;
  color: white;
  border-style: none;
  padding: 5px;
  font-family: 'Nunito', sans-serif;
  border-radius: 10px;
}

#current-user {
  color: #D7D5D5;
}

#current-user:hover {
  color: #9FA7AF;
}
