
.save-delete-trail {
  margin: 10px 0px;
}

.update-trail-button {
  background-color: #88BE5B;
  color: white;
  border-style: none;
  padding: 5px;
  font-family: 'Nunito', sans-serif;
  border-radius: 10px;
  margin: 10px 10px;
  margin-bottom: 0px;
}

.delete-trail-button {
  background-color: #CD5C5C;
  color: white;
  border-style: none;
  padding: 5px;
  font-family: 'Nunito', sans-serif;
  border-radius: 10px;
  margin: 10px 10px;
  margin-bottom: 0px;
}

.update-input {
  margin: 10px 0px;
}

.update-delete {
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
