<h2>Register!</h2>

<form class="registration" ng-submit="register.create(user)" method="post">

  <input type="text" name="username" placeholder="username"
    required ng-model="user.username">
  <br>

  <input type="password" name="password" placeholder="password"
    required ng-model="user.password">
  <br>

  <input type="text" name="email" placeholder="email address"
    required ng-model="user.email">
  <br>
  <button type="button" name="registerButton" ng-click="register.create(user)">Register</button>
</form>
