<img class="banner" src="images/banner.png" alt="">
<!-- <h1><a id="title" href='#/home'>The Cranky Cartographer</a></h1> -->
<nav class="nav-links">
	<span class="site-nav">
		<span><a href="#/home">Home</a></span>
		<span><a href="#/trails/blaze/new">New Trail</a></span>
		<span><a href="#/topTrails">Top Trails</a></span>
	</span>
	<span class='user-nav' ng-hide="root.loggedIn">
		<span><a href="#/login">Login</a></span>
		<span><a href="#/register">Register</a></span>
	</span>
	<span class='user-nav' ng-show="root.loggedIn">
		<span><small><span class="logged-in">Logged in as</span ></small><span id="current-user">{{root.username}}</span></span>
		<button class="logout-button" ng-click="root.logout()">Logout</button>
	</span>

</nav>
<div ui-view></div>
