<div class="trail-info-container">
  <img src="{{blazeNew.MapsService.trailInfo.saved_url}}">
  <input type="text" placeholder="Image url" ng-model="blazeNew.MapsService.trailInfo.img_url">
  <input type="text" placeholder="Trail Name" ng-model="blazeNew.MapsService.trailInfo.title">
  <textarea placeholder="Trail description" ng-model="blazeNew.MapsService.trailInfo.description"></textarea>
  <div class="static-info-container">
    <div>Distance: {{blazeNew.MapsService.trailInfo.distance}}</div>
    <div>Max Elevation: {{blazeNew.MapsService.trailInfo.max_elevation}}</div>
    <div>Min Elevation: {{blazeNew.MapsService.trailInfo.min_elevation}}</div>
    <div>Created by: {{blazeNew.MapsService.trailInfo.username}}</div>
  </div>
</div>

  <form name="new-trail" ng-submit="blazeNew.newTrail()">
      <input class="title-input" name="title" type="text" placeholder="Trail Name..."
             ng-model="blazeNew.MapsService.trailTitle" />
			<button class="add-trail-button">Create Trail</button>
	</form>

<div class="map-controls-container">

<div class="map-container">
  <input id="pac-input" class="controls" type="text" placeholder="Search...">
  <ng-map class="map" id="blazeNewMap" on-click="blazeNew.placeMarker($event)">
  </ng-map>
</div>
<div class="marker-buttons">
  <div class="add-delete">
      <span><strong>Add/Remove Points</strong></span>
      <span>
        <input type="radio" ng-model="blazeNew.MapsService.delete" name="delete" ng-value="false"></input>
        Add Points
      </span>
      <span>
        <input type="radio" ng-model="blazeNew.MapsService.delete" name="delete" ng-value="true"></input>
        Delete Points
      </span>
  </div>

  <div class="insert-buttons">
      <span><strong>Precision Point Placement</strong></span>
      <span>
        <input type="radio" ng-model="blazeNew.MapsService.insert" name="insert" value="frontInsert"></input>
        Add to Beginning
      </span>
      <span>
        <input type="radio" ng-model="blazeNew.MapsService.insert" name="insert" value="midInsert"></input>
        Insert Between
      </span>
      <span>
        <input type="radio" ng-model="blazeNew.MapsService.insert" name="insert" value="backInsert"></input>
        Add to End
      </span>
  </div>

  {{blazeNew.status}}
</div>
</div>

<div class="elevation-header"><h2>Elevation Information</h2></div>
<div class="chart-box">
	<canvas class="chart" id="myChart"></canvas>
</div>
