<h2>{{trailUpdate.status}}</h2>

<h3>{{trailUpdate.trailTitle}}</h3>

<input class="title-input" name="title" type="text" placeholder="Trail Name..."
       ng-model="trailUpdate.trailTitle" /></input>

	<div class="add-delete">
		<input type="radio" ng-model="trailUpdate.MapsService.delete" name="delete" ng-value="false"></input>
	    <span>Add Points</span>
	    <input type="radio" ng-model="trailUpdate.MapsService.delete" name="delete" ng-value="true"></input>
	    <span>Delete Points</span>
	</div>

	<div class="move-delete">
		<input type="radio" ng-model="trailUpdate.MapsService.insert" name="insert" value="frontInsert"></input>
	    <span>Add to Front</span>
	    <input type="radio" ng-model="trailUpdate.MapsService.insert" name="insert" value="midInsert"></input>
	    <span>Insert Between</span>
	    <input type="radio" ng-model="trailUpdate.MapsService.insert" name="insert" value="backInsert"></input>
	    <span>Add to End</span>
	</div>

<button type="button" name="update" ng-click="trailUpdate.updateTrail()">Save Changes</button>
<button type="button" name="delete" ng-click="trailUpdate.deleteTrail()">Delete Trail</button>
<ng-map id="trailUpdateMap" on-click="trailUpdate.placeMarker($event)">

</ng-map>
<br>
<canvas id="myChart" width="400" height="400"></canvas>
