<div class="trail-info-container">
    <div class="trail-image-container">
    <img src="{{blazeEdit.MapsService.trailInfo.saved_url}}">
</div>
<div class="title-img-container">
  <label>Edit Trail Name:</label>
  <input class='trail-info-input' type="text" placeholder="Trail Name" ng-model="blazeEdit.MapsService.trailInfo.title">
  <label>Edit Trail Image:</label>
  <input class='trail-info-input' type="text" placeholder="Image url" ng-model="blazeEdit.MapsService.trailInfo.img_url">
</div>
  <textarea class="trail-description" placeholder="Trail description" ng-model="blazeEdit.MapsService.trailInfo.description"></textarea>

  <div class="static-info-container">
    <div>Distance: <span class='static-info'>{{blazeEdit.MapsService.trailInfo.distance}} mi</span></div>
    <div>Max Elevation: <span class='static-info'>{{blazeEdit.MapsService.trailInfo.max_elevation}} ft</span></div>
    <div>Min Elevation: <span class='static-info'>{{blazeEdit.MapsService.trailInfo.min_elevation}} ft</span></div>
    <div>Created by: <span class='static-info'>{{blazeEdit.MapsService.trailInfo.username}}</span></div>
  </div>
</div>

	</div>
</div>

<div class="map-controls-container">
  <div class="map-container">
    <!-- <input id="pac-input" class="controls" type="text" placeholder="Search..."> -->
    <ng-map class="map" id="blazeEditMap" on-click="blazeEdit.placeMarker($event)">
    </ng-map>
  </div>
  <div class="point-control-container">
    <h3 class="interval-header">Interval</h3>

    <div class="set-interval-box">
      <div class="lat-lng-input-container">
        <span>
          <span class="lat-lng">
            <button class="interval-button" ng-click="blazeEdit.MapsService.startInt()">Start: </button>
            <input class="point-control-input" type="text" ng-model="blazeEdit.MapsService.panel.start"></input>
          </span>
          <span class="lat-lng">
            <button class="interval-button" ng-click="blazeEdit.MapsService.endInt()">End: </button>
            <input class="point-control-input" type="text" ng-model="blazeEdit.MapsService.panel.end"></input>
          </span>
        </span>
            <button class="update-trail-button" ng-click="blazeEdit.setInterval()">go to interval</button>
      </div>
    </div>

    <h3 class="controls-header">Blaze Controls</h3>
    <div class="control-box">

      <div class="static-controls">
<!--         <div class="distance-input-container">
          <span>
            <label>Distance: </label>
            <input type="text" ng-model="blazeEdit.MapsService.panel.distance"></input>
                  mi. out of <span class='static-info'>{{blazeEdit.MapsService.trailInfo.distance}}</span>
          </span>
          <button class="update-trail-button" id='place-distance-button' ng-click="blazeEdit.placeDistanceMarker()">Place Point by Distance</button>
        </div> -->
        <div class="lat-lng-input-container">
          <span id="lat-lng-mark">
            <span class="lat-lng">
              <label>Lat: </label>
              <input class="point-control-input" type="text" ng-model="blazeEdit.MapsService.panel.lat"></input>
            </span>
            <span class="lat-lng">
              <label>Lng: </label>
              <input class="point-control-input" type="text" ng-model="blazeEdit.MapsService.panel.lng"></input>
            </span>
          </span>
          <button class="update-trail-button" id="place-lat-lng-button" ng-click="blazeEdit.placeLatLngMarker()">Place Point by LatLng</button>
        </div>
      </div>
      <div class="points-header">
        Add or Remove Points
      </div>
      <div class="add-delete">
        <input type="radio" ng-model="blazeEdit.MapsService.delete" name="delete" ng-value="false"></input>
          <span>Add Points</span>
          <input type="radio" ng-model="blazeEdit.MapsService.delete" name="delete" ng-value="true"></input>
          <span>Delete Points</span>
      </div>
      <div class="points-header">
        Specify Point Placement
      </div>
      <div class="insert-buttons">
        <input type="radio" ng-model="blazeEdit.MapsService.insert" name="insert" value="frontInsert"></input>
          <span>Add to Beginning</span>
          <input type="radio" ng-model="blazeEdit.MapsService.insert" name="insert" value="midInsert"></input>
          <span>Insert Between</span>
          <input type="radio" ng-model="blazeEdit.MapsService.insert" name="insert" value="backInsert"></input>
          <span>Add to End</span>
      </div>
      <div class="update-delete">
        <button class="control-save-delete update-trail-button" type="button" name="edit" ng-click="blazeEdit.editTrail()">{{blazeEdit.status}}</button>
        <button class="control-save-delete delete-trail-button" type="button" name="delete" ng-click="blazeEdit.deleteTrail()">Delete Trail</button>
      </div>

    </div>
  </div>
</div>
<div class="elevation-header"><h2>Elevation Information</h2></div>
<div class="chart-box">
	<canvas class="chart" id="myChart" ng-click="blazeEdit.testClick($event)"></canvas>
</div>
<div class="chart-controls">
  <span><button ng-click="blazeEdit.MapsService.prevChart()">Previous</button></span>
  <span ng-repeat="number in blazeEdit.MapsService.showChart">
    <button ng-click="blazeEdit.MapsService.chooseChart(number)">{{number + 1}}</button>
  </span>
  <span><button ng-click="blazeEdit.MapsService.nextChart()">Next</button></span>
</div>
