<h2>Hello From trail update! </h2>

<h3>{{trailUpdate.trailTitle}}</h3>

<input class="title-input" name="title" type="text" placeholder="Trail Name..."
       ng-model="trailUpdate.trailTitle" />

	<div class="move-delete">
	    <input type="radio" ng-model="trailUpdate.delete" name="delete" ng-value="false">
	    Move/Place
	    <input type="radio" ng-model="trailUpdate.delete" name="delete" ng-value="true">
	    Delete
	</div>

<button type="button" name="update" ng-click="trailUpdate.updateTrail()">Save Changes</button>
<ng-map id="trailUpdateMap" on-click="trailUpdate.placeMarker($event)" center="[40.74, -74.18]">

</ng-map>
<br>
<canvas id="myChart" width="400" height="400"></canvas>
