<h2>{{blazeNew.status}}</h2>

<h1 class="title">Add a New Trail</h1>

  <form name="new-trail" ng-submit="blazeNew.newTrail()">
      <input class="title-input" name="title" type="text" placeholder="Trail Name..."
             ng-model="blazeNew.MapsService.trailTitle" />
			<button class="add-trail-button">Add New Trail!</button>
	</form>

	<div class="marker-buttons">
    <div class="add-delete">
  		<input type="radio" ng-model="blazeNew.MapsService.delete" name="delete" ng-value="false"></input>
  	    <span>Add Points</span>
  	    <input type="radio" ng-model="blazeNew.MapsService.delete" name="delete" ng-value="true"></input>
  	    <span>Delete Points</span>
  	</div>

  	<div class="insert-buttons">
  		<input type="radio" ng-model="blazeNew.MapsService.insert" name="insert" value="frontInsert"></input>
  	    <span>Add to Beginning</span>
  	    <input type="radio" ng-model="blazeNew.MapsService.insert" name="insert" value="midInsert"></input>
  	    <span>Insert Between</span>
  	    <input type="radio" ng-model="blazeNew.MapsService.insert" name="insert" value="backInsert"></input>
  	    <span>Add to End</span>
  	</div>
  </div>

  <!-- <form name="map-center" ng-submit="blazeNew.geocodeAddress()">
    <input type="text" name="address" ng-model="blazeNew.address"></input>
    <button class="geocode" ng-click="blazeNew.geocodeAddress()" type="button">Geocode</button>
  </form> -->

<div class="map-container">
  <input id="pac-input" class="controls" type="text" placeholder="Search...">
  <ng-map class="map" id="blazeNewMap" on-click="blazeNew.placeMarker($event)">
  </ng-map>
</div>

<div class="elevation-header"><h2>Elevation Information</h2></div>
<div class="chart-box">
	<canvas class="chart" id="myChart"></canvas>
</div>
