  <div class="trail-info-container">
    <div class="side-box" id="left-side">
    <img class="trail-image" src="{{hike.MapsService.trailInfo.img_url}}">
    <div class='title-description'>
      <div class="trail-title">{{hike.MapsService.trailInfo.title}}</div>
      <div class="trail-description">{{hike.MapsService.trailInfo.description}}</div>
    </div>
    </div>
    <div class="side-box" id="right-side">
    <div class="static-info-container">
      <div>Distance: <span class='static-info'>{{hike.MapsService.trailInfo.distance}} mi</span></div>
      <div>Max Elevation: <span class='static-info'>{{hike.MapsService.trailInfo.max_elevation}} ft</span></div>
      <div>Min Elevation: <span class='static-info'>{{hike.MapsService.trailInfo.min_elevation}} ft</span></div>
      <div>Created by: <span class='static-info'>{{hike.MapsService.trailInfo.username}}</span></div>
    </div>
    <div class="blaze-mark-hike-buttons">
        <button ng-click="hike.MapsService.goToBlaze(hike.MapsService.trailInfo.id, hike.MapsService.trailInfo.user_id)" ng-class="{greyButt: (root.user_id !== hike.MapsService.trailInfo.user_id), orangeButt: (root.user_id === hike.MapsService.trailInfo.user_id)}" class='BMH-link'>Blaze</button>
        <button ng-click="hike.MapsService.goToMark(hike.MapsService.trailInfo.id, hike.MapsService.trailInfo.user_id)" ng-class="{greyButt: (root.user_id !== hike.MapsService.trailInfo.user_id), orangeButt: (root.user_id === hike.MapsService.trailInfo.user_id)}" class='unclicked-top BMH-link'>Mark</button>
        <button class='orangeButt clicked c-hike BMH-link' ng-click="hike.MapsService.goToHike(hike.MapsService.trailInfo.id)">Hike</button>
    </div>
    </div>
  </div>

<div class="map-controls-container">
  <div class="map-container">
    <ng-map class="map" id="hikeMap" on-click="hike.placeMarker($event)">
    </ng-map>
  </div>
  <div class="point-control-container">
    <h3 class="interval-header">Interval</h3>

    <div class="set-interval-box">
      <div class="lat-lng-input-container">
        <button id="full-trail-button" class="update-trail-button" ng-click="hike.MapsService.clearCurrent()">Full Trail</button>

        <span>
          <span class="lat-lng">
            <button class="interval-button" ng-click="hike.MapsService.startInt()">Start: </button>
            <input class="point-control-input" type="text" ng-model="hike.MapsService.panel.start"></input>
          </span>
          <span class="lat-lng">
            <button class="interval-button" ng-click="hike.MapsService.endInt()">End: </button>
            <input class="point-control-input" type="text" ng-model="hike.MapsService.panel.end"></input>
          </span>
        </span>
            <button id="interval-button" class="update-trail-button" ng-click="hike.setInterval()">Interval</button>

      </div>
    </div>
    <h3 class="controls-header">Hike Controls</h3>
    <div class="control-box">
      <div class="hike-controls">
        <div class="hike-list">
          <div class="choose-hike-button-container" ng-repeat="singleHiked in hike.MapsService.hikedArray">
            <button class="choose-hike-button hike-button-repeat" ng-click="hike.gotoHiked(singleHiked.id)" ng-style="{background:'{{singleHiked.poly.strokeColor}}'}">
              <div class="color-box" ng-style="{background:'{{singleHiked.poly.strokeColor}}'}"></div>
              <div class="hike-title">
                <span>{{singleHiked.title}}</span>
                <span>{{singleHiked.distance}} mi</span>
              </div>
            </button>
          </div>
        </div>
        <button class="choose-hike-button" id="new-hike-button" ng-click="hike.MapsService.clearCurrent()">+ New</button>

        <div class="hike-box">
          <div>
            <label>Title: </label>
            <input class='hike-input hike-title' type="text" ng-model="hike.MapsService.panel.title" placeholder="Title...">
            <label>Description: </label>
          <textarea class="hike-input hike-description" placeholder="Edit description..." ng-model="hike.MapsService.panel.description"></textarea>
          </div>
          <div>
            <label>Start Date:</label>
            <input class='hike-input hike-date' type="date" ng-model="hike.MapsService.panel.start_date">
            <label>End Date:</label>
            <input class='hike-input hike-date' type="date" ng-model="hike.MapsService.panel.end_date">
          </div>
        </div>
        <div class="save-delete-container">
          <button class="control-save-delete update-trail-button" ng-hide="hike.MapsService.currentHike.id" ng-click="hike.saveHike()">{{hike.hikeSaveStatus}}</button>
          <button class="control-save-delete update-trail-button" ng-show="hike.MapsService.currentHike.id" ng-click="hike.editHike()">{{hike.hikeEditStatus}}</button>
          <button class="control-save-delete delete-trail-button" ng-click="hike.deleteHike()">{{hike.hikeDeleteStatus}}</button>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="chart-box">
	<canvas class="chart" id="myChart"></canvas>
  <div class="chart-controls">
      <span><button class="turn-page" ng-click="hike.MapsService.prevChart()">Previous</button></span>
      <span ng-repeat="number in hike.MapsService.showChart">
        <button class="interval-button"ng-click="hike.MapsService.chooseChart(number)">{{number + 1}}</button>
      </span>
      <span><button class="turn-page" ng-click="hike.MapsService.nextChart()">Next</button></span>
  </div>
</div>


<div ui-view></div>
