<h2>{{trailUpdate.status}}</h2>

<h3>{{trailUpdate.trailTitle}}</h3>

<input class="title-input" name="title" type="text" placeholder="Trail Name..."
       ng-model="trailUpdate.trailTitle" /></input>

	<div class="move-delete">
	    <input type="radio" ng-model="trailUpdate.TrailsService.delete" name="delete" ng-value="true"></input>
	    <span>Delete Points</span>
	    <input type="radio" ng-model="trailUpdate.TrailsService.delete" name="delete" ng-value="false"></input>
	    <span>Add Points</span>
	</div>

<button type="button" name="update" ng-click="trailUpdate.updateTrail()">Save Changes</button>
<ng-map id="trailUpdateMap" on-click="trailUpdate.placeMarker($event)" center="[40.74, -74.18]">

</ng-map>
