<div class="trail-info-container">
  <div class="trail-image-container">
    <img src="{{mark.MapsService.trailInfo.img_url}}">
  </div>
  <div class="title-description">
    <div>Title: <span class='static-info'>{{mark.MapsService.trailInfo.title}}</span></div>
    <div> Description: <span class='static-info'>{{mark.MapsService.trailInfo.description}}</span></div>
  </div>

  <div class="static-info-container">
    <div>Distance: <span class='static-info'>{{mark.MapsService.trailInfo.distance}} mi</span></div>
    <div>Max Elevation: <span class='static-info'>{{mark.MapsService.trailInfo.max_elevation}} ft</span></div>
    <div>Min Elevation: <span class='static-info'>{{mark.MapsService.trailInfo.min_elevation}} ft</span></div>
    <div>Created by: <span class='static-info'>{{mark.MapsService.trailInfo.username}}</span></div>
  </div>
</div>

<div class="map-controls-container">
  <div class="map-container">
    <!-- <input id="pac-input" class="controls" type="text" placeholder="Search..."> -->
    <ng-map class="map" id="markMap" on-click="mark.placeMarker($event)">
    </ng-map>
  </div>
  <div class="point-control-container">
    <h3 class="interval-header">Interval</h3>

    <div class="set-interval-box">
      <div class="lat-lng-input-container">
        <button ng-click="mark.MapsService.fullTrailInt()">Full Trail</button>
        <span>
          <span class="lat-lng">
            <button class="interval-button" ng-click="mark.MapsService.startInt()">Start: </button>
            <input class="point-control-input" type="text" ng-model="mark.MapsService.panel.start"></input>
          </span>
          <span class="lat-lng">
            <button class="interval-button" ng-click="mark.MapsService.endInt()">End: </button>
            <input class="point-control-input" type="text" ng-model="mark.MapsService.panel.end"></input>
          </span>
        </span>
            <button class="update-trail-button" ng-click="mark.setInterval()">go to interval</button>
      </div>
    </div>


    <h3 class="controls-header">Mark Controls</h3>
    <div class="control-box">
      <div class="static-controls">
      	<div class="distance-input-container">
      		<span>
      			<label>Distance: </label>
      			<input type="text" ng-model="mark.MapsService.panel.distance"></input>
      						mi. out of <span class='static-info'>{{mark.MapsService.trailInfo.distance}}</span>
      		</span>
          <button class="update-trail-button" id='place-distance-button' ng-click="mark.placeDistanceMarker()">Place Point by Distance</button>
      	</div>
<!--       	<div class="lat-lng-input-container">
      		<span id="lat-lng-mark">
            <span class="lat-lng">
        			<label>Lat: </label>
        			<input class="point-control-input" type="text" ng-model="mark.MapsService.panel.lat"></input>
            </span>
            <span class="lat-lng">
              <label>Lng: </label>
        			<input class="point-control-input" type="text" ng-model="mark.MapsService.panel.lng"></input>
            </span>
      		</span>
          <button class="update-trail-button" id="place-lat-lng-button" ng-click="mark.placeLatLngMarker()">Place Point by LatLng</button>
      	</div> -->
      </div>
      <div id='control-insert-mark' class="insert">

      	<div class="type-container">
          <div>Marker Type:</div>
          <div class="type-row">
        		<label>shelter: </label><input type="checkbox" ng-change="mark.MapsService.chartMark()" ng-model="mark.MapsService.panel.shelter">
        		<label>campsite: </label><input type="checkbox" ng-change="mark.MapsService.chartMark()" ng-model="mark.MapsService.panel.campsite">
        		<br>
        		<label>water: </label><input type="checkbox" ng-change="mark.MapsService.chartMark()" ng-model="mark.MapsService.panel.water">
        		<label>view: </label><input type="checkbox" ng-change="mark.MapsService.chartMark()" ng-model="mark.MapsService.panel.view">
        		<br>
          </div>
          <div class="type-row">
        		<label>road: </label><input type="checkbox" ng-change="mark.MapsService.chartMark()" ng-model="mark.MapsService.panel.road">
        		<label>parking: </label><input type="checkbox" ng-change="mark.MapsService.chartMark()" ng-model="mark.MapsService.panel.parking">
        		<br>
        		<label>resupply: </label><input type="checkbox" ng-change="mark.MapsService.chartMark()" ng-model="mark.MapsService.panel.resupply">
        </div>
        </div>
        <div class="mark-input-container">
        	<div class="title-container">
        		<label>Title: </label><input type="text" ng-keyup="mark.MapsService.updateMarker()" ng-model="mark.MapsService.panel.title"></input>
        	</div>
        	<div class="description-container">
        		<label>Description: </label>
        		<textarea ng-keyup="mark.MapsService.updateMarker()" ng-model="mark.MapsService.panel.description"></textarea>
        	</div>
        	<div class="img-url-container">
        		<label>Image Url: </label>
        		<input type="text" ng-keyup="mark.MapsService.updateMarker()" ng-model="mark.MapsService.panel.img_url"></input>
        	</div>
        </div>
      </div>

    	<div class="point-control-update-delete">
            <button class="control-save-delete update-trail-button" type="button" name="edit" ng-hide="mark.MapsService.currentMarker.id" ng-click="mark.savePoint()">Save Point</button>
            <button class="control-save-delete update-trail-button" type="button" name="edit" ng-show="mark.MapsService.currentMarker.id" ng-click="mark.editPoint()">Edit Point</button>
            <button class="control-save-delete delete-trail-button" type="button" name="delete" ng-click="mark.deletePoint()">Delete Point</button>
      </div>
    </div>
  </div>

</div>

<div class="chart-box">
	<canvas class="chart" id="myChart" ng-click='mark.testClick($event)'></canvas>
</div>
<div class="chart-controls">
  <span><button ng-click="mark.MapsService.prevChart()">Previous</button></span>
  <span ng-repeat="number in mark.MapsService.showChart">
    <button ng-click="mark.MapsService.chooseChart(number)">{{number + 1}}</button>
  </span>
  <span><button ng-click="mark.MapsService.nextChart()">Next</button></span>
</div>
