<h2>Hello from New Trail Template!</h2>

<h1 class="title">Add a New Trail</h1>

  <form name="new-trail" ng-submit="trailNew.addNewTrail(trail)">
      <input class="title-input" name="title" type="text" placeholder="Trail Name..."
             ng-model="trailNew.trailTitle" />
			<button class="add-trail-button">Add New Trail!</button>
	</form>

	<div class="add-delete">
		<input type="radio" ng-model="trailNew.TrailsService.delete" name="delete" ng-value="false"></input>
	    <span>Add Points</span>
	    <input type="radio" ng-model="trailNew.TrailsService.delete" name="delete" ng-value="true"></input>
	    <span>Delete Points</span>
	</div>

	<div class="insert-buttons">
		<input type="radio" ng-model="trailNew.TrailsService.insert" name="insert" value="frontInsert"></input>
	    <span>Add to Front</span>
	    <input type="radio" ng-model="trailNew.TrailsService.insert" name="insert" value="midInsert"></input>
	    <span>Insert Between</span>
	    <input type="radio" ng-model="trailNew.TrailsService.insert" name="insert" value="backInsert"></input>
	    <span>Add to End</span>
	</div>

<ng-map id="trailNewMap" on-click="trailNew.placeMarker($event)" center="[40.74, -74.18]">
	<!-- <marker position="[40.74, -74.18]"></marker> -->
</ng-map>
<br>
<canvas id="myChart" width="400" height="400"></canvas>
