<div class="trail-info-container">
  <div class="trail-image-container">
    <img src="{{hike.MapsService.trailInfo.img_url}}">
  </div>
  <div class="title-description">
    <div>Title: <span class='static-info'>{{hike.MapsService.trailInfo.title}}</span></div>
    <div> Description: <span class='static-info'>{{hike.MapsService.trailInfo.description}}</span></div>
  </div>

  <div class="static-info-container">
    <div>Distance: <span class='static-info'>{{hike.MapsService.trailInfo.distance}} mi</span></div>
    <div>Max Elevation: <span class='static-info'>{{hike.MapsService.trailInfo.max_elevation}} ft</span></div>
    <div>Min Elevation: <span class='static-info'>{{hike.MapsService.trailInfo.min_elevation}} ft</span></div>
    <div>Created by: <span class='static-info'>{{hike.MapsService.trailInfo.username}}</span></div>
  </div>
</div>

<div class="map-controls-container">
  <div class="map-container">
    <!-- <input id="pac-input" class="controls" type="text" placeholder="Search..."> -->
    <ng-map class="map" id="hikeMap" on-click="hike.placeMarker($event)">
    </ng-map>
  </div>
  <div class="point-control-container">
    <h3 class="interval-header">Interval</h3>

    <div class="set-interval-box">
      <div class="lat-lng-input-container">
        <button ng-click="hike.MapsService.fullTrailInt()">Full Trail</button>
        <span>
          <span class="lat-lng">
            <button class="interval-button" ng-click="hike.MapsService.startInt()">Start: </button>
            <input class="point-control-input" type="text" ng-model="hike.MapsService.panel.start"></input>
          </span>
          <span class="lat-lng">
            <button class="interval-button" ng-click="hike.MapsService.endInt()">End: </button>
            <input class="point-control-input" type="text" ng-model="hike.MapsService.panel.end"></input>
          </span>
        </span>
            <button class="update-trail-button" ng-click="hike.setInterval()">go to interval</button>

      </div>
    </div>
    <h3 class="controls-header">Hike Controls</h3>
    <div class="control-box">
      <div ng-repeat="singleHiked in hike.MapsService.hikedArray">
      <button  ng-click="hike.gotoHiked(singleHiked.id)">
        {{singleHiked.title}}
      </button>
      </div>
      <button ng-click="hike.clearCurrent()">+ New</button>

      <div class="hike-box">
        <input type="text" ng-model="hike.MapsService.panel.title" placeholder="title">
        <input type="date" ng-model="hike.MapsService.panel.start_date">
        <input type="date" ng-model="hike.MapsService.panel.end_date">
        <textarea ng-model="hike.MapsService.panel.description"></textarea>
      </div>
        <button class="save-hike-button" ng-hide="hike.MapsService.currentHike.id" ng-click="hike.saveHike()">Save Hike</button>
        <button class="edit-hike-button" ng-show="hike.MapsService.currentHike.id" ng-click="hike.editHike()">Edit Hike</button>
        <button class="delete-hike-button" ng-click="hike.deleteHike()">Delete Hike</button>
    </div>
  </div>

</div>

<div class="chart-box">
	<canvas class="chart" id="myChart"></canvas>
</div>
<div class="chart-controls">
    <span><button ng-click="hike.MapsService.prevChart()">Previous</button></span>
    <span ng-repeat="number in hike.MapsService.showChart">
      <button ng-click="hike.MapsService.chooseChart(number)">{{number + 1}}</button>
    </span>
    <span><button ng-click="hike.MapsService.nextChart()">Next</button></span>
</div>

<div ui-view></div>
