<div class="trail-info-container">
  <div class="trail-image-container">
    <img src="{{blazeNew.MapsService.trailInfo.saved_url}}">
  </div>
  <form name="new-trail" ng-submit="blazeNew.newTrail()">
    <label>Name Your Trail</label>
    <input class='trail-info-input' type="text" placeholder="Trail Name..." ng-model="blazeNew.MapsService.trailInfo.title">
    <label>Add a Custom Trail Image (optional)</label>
    <input class='trail-info-input' type="text" placeholder="Image url..." ng-model="blazeNew.MapsService.trailInfo.img_url">
    <textarea name='trail-description' class='trail-description' placeholder="Trail description..." ng-model="blazeNew.MapsService.trailInfo.description"></textarea>
    <button class="add-trail-button">{{blazeNew.status}}</button>

  </form>

  <div class="static-info-container">
    <div>Distance: <span class='static-info'>{{blazeNew.MapsService.trailInfo.distance}} mi</span></div>
    <div>Max Elevation: <span class='static-info'>{{blazeNew.MapsService.trailInfo.max_elevation}} ft</span></div>
    <div>Min Elevation: <span class='static-info'>{{blazeNew.MapsService.trailInfo.min_elevation}} ft</span></div>
  </div>
</div>


<div class="map-controls-container">

<div class="map-container">
  <input id="pac-input" class="controls" type="text" placeholder="Search...">
  <ng-map class="map" id="blazeNewMap" on-click="blazeNew.placeMarker($event)"></ng-map>
</div>
<div class="marker-buttons">

  <div class="add-delete">
    <input type="radio" ng-model="blazeNew.MapsService.delete" name="delete" ng-value="false"></input>
      <span>Add Points</span>
      <input type="radio" ng-model="blazeNew.MapsService.delete" name="delete" ng-value="true"></input>
      <span>Delete Points</span>
  </div>
  <div class="insert-buttons">
    <input type="radio" ng-model="blazeNew.MapsService.insert" name="insert" value="frontInsert"></input>
      <span>Add to Beginning</span>
      <input type="radio" ng-model="blazeNew.MapsService.insert" name="insert" value="midInsert"></input>
      <span>Insert Between</span>
      <input type="radio" ng-model="blazeNew.MapsService.insert" name="insert" value="backInsert"></input>
      <span>Add to End</span>
  </div>
</div>

</div>
</div>

<div class="elevation-header"><h2>Elevation Information</h2></div>
<div class="chart-box">
	<canvas class="chart" id="myChart"></canvas>
</div>
