<h1>My Trails</h1>

<div ng-repeat="trail in userCreated.trailList">
  <div class="top-trail-container">
    <img class="trail-image" src="{{trail.img_url}}">
    <span class='top-trail-info'>
      <span id="top-trail-title">{{trail.title}}</span>
    </span>
    <div class="static-info-container">
      <div>Distance: <span class='static-info'>{{trail.distance}} mi</span></div>
      <div>Max Elevation: <span class='static-info'>{{trail.max_elevation}} ft</span></div>
      <div>Min Elevation: <span class='static-info'>{{trail.min_elevation}} ft</span></div>
    </div>
    <div id="mark-button">
      <a id="update-link" href="#/trails/blaze/{{trail.id}}"><button class='add-trail-button' type="button" id='blaze-link' name="button">Blaze</button></a>
    </div>
    <div class="top-trail-buttons">
      <a id="marker-link" href="#trails/mark/{{trail.id}}"><button class='add-trail-button' type="button" id='mark-link' name="button">Mark</button></a>
    </div>
    <div class="hike-button">
      <a id="hike-link" href="#trails/hike/{{trail.id}}/users/{{topTrails.user_id}}"><button class='add-trail-button' type="button" id='mark-link' name="button">Hike</button></a>
    </div>
  </div>
</div>
